.zoom{
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.unzoom{
    padding: 50px;
  transition: transform .2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}