{% load mainApp_extras %}
{% include "header.html" %}
        <h1 class="jumbotron">Busca lo que quieres...</h1>

        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h4>Criterios de búsqueda :</h4>
                    <div class="row justify-content-center" >
                        <div class="col-4">
                            <p>Nombre de la estacion :</p><input v-model="nombreEstacion">
                        </div>
                        <div class="col-4">
                            <p>Altura maximal</p>
                                0 <input v-model="alturaMaximal" type="range" id="alturaMaximal" value="5000"> 5000
                        </div>
                        <div class="col-4">
                            <p>Altura minimal</p>
                                0 <input v-model="alturaMinimal" type="range" id="alturaMinimal" value="3000"> 3000
                        </div>
                    </div>
                    <button @click="refreshList" class="btn btn-primary">Buscar</button>
                </div>

            </div>
            <div id="buscarParametros" class="card mt-3">
                <div class="card-body">
                    <h4>Estacion(es) lista :</h4>
                        <div class="container mt-4 ">
                            <div v-for="estacion in js_list" class="col-4 card-deck text-center">
                                <div class="card mb-4 shadow-sm">
                                    <div class="card-header">
                                        <h4>{{ estacion }}</h4>
                                    </div>
                                    <div class="card-body">
                                        <p>La estacion es situada en : <b>{{ estacion }}</b></p>
                                        <a href="#"><img src="" class="img-thumbnail" alt="Mon image" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript">

        var app = new Vue({
            el: "#buscarParametros",
            data: {
                js_list: {{ estaciones|safe }},
                message: ""
            }
        });
    </script>
    </body>
</html>