 {% include "header.html" %}
 {% load widget_tweaks %}
        <h1 class="jumbotron">{{ estacion.nombre }}</h1>
    <div class="container mt-4 ">
        <div class="col-sm card-deck">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="mb-3">Detalles de la estacion :</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fas fa-skiing"></i> La estacion tiene <b>{{ estacion.kmsPista }}</b> kilometros de pista</li>
                        <li class="list-group-item"><i class="fas fa-tram"></i> Tiene <b>{{ estacion.numeroRemontes }}</b> remontes mecánicos</li>
                        <li class="list-group-item"><i class="fas fa-mountain"></i> La altura minima es <b>{{ estacion.alturaMinima }}</b> metros y
                        la altura maxima es <b>{{ estacion.alturaMaxima }}</b> metros</li>
                        <li class="list-group-item"><i class="fas fa-map-marker-alt"></i> La estacion est situada en : <b>{{ estacion.localizacion.mensaje }}</b></li>
                        <li class="list-group-item"><b>Numero de pista con su difficultad :</b></li>
                    {% for estacion in estacionToTipoPista %}
                        <li class="list-group-item"><i class="far fa-dot-circle"></i> Hay <b>{{ estacion.numeroPistas }}</b> pistas de tipo <b>{{ estacion.tipoPista.mensaje }}</b> ({{ estacion.tipoPista.detalles }})</li>
                    {% endfor %}
                    </ul>
                    {% load static %}
                        <img src="{% static estacion.imagen %}" class="img-fluid center-block" alt="Mon image" />
                </div>
                <div class="card-body">
                    <h4 class="mb-3">Commentarios :</h4>
                    <ul class="list-group">
                        {% for comentario in estacionToUsuario %}
                        <li class="list-group-item">
                            <p>Comentario dejado por <b>{{ comentario.usuario.username }}</b> el <b>{{ comentario.fecha }}</b></p>
                            <p>Calificacion de la estacion <b>{{ comentario.calificacion }}</b></p>
                            <p><i>{{ comentario.comentario }}</i></p>
                        </li>
                        {% endfor %}
                        {% if user.is_authenticated %}
                        <li class="list-group-item">
                            <p><b>{{ user.first_name }} {{ user.last_name }}</b>, deja tu opinión !</p>
                            <form method="post">
                                <table class="table">
                                    {% csrf_token %}
                                 <label for="form_calificacion">Da tu calificacion de la estacion (sobre 5) :</label>
                                {% render_field form.calificacion id="form_calificacion" class="form-control" %}
                                <label for="form_comentario">Tus comentarios :</label>
                                {% render_field form.comentario id="form_comentario" class="form-control" %}
                                </table>
                                <input type="submit" class="btn btn-primary mt-4" value="Publicar">
                            </form>
                        </li>
                        {% else %}
                        <li class="list-group-item">
                            <p><b>Debes estar registrado para escribir un comentario.</b></p>
                            <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Conectarse</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>