{% load mainApp_extras %}
    {% include "header.html" %}
        <h1 class="jumbotron">Todas las estaciones</h1>

        <div class="container mt-4 ">
            {% for estacion in estactiones %}
                {% ifequal forloop.counter|modulo:3 1 %}
                <div class="row justify-content-center">
                {% endifequal %}

                <div class="col-4 card-deck text-center">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4>{{ estacion.nombre }}</h4>
                        </div>
                        <div class="card-body">
                            <p>La estacion es situada en : <b>{{ estacion.localizacion.mensaje }}</b></p>
                            {% load static %}
                            <a href="{% url 'estacion' estacion.id %}"><img src="{% static estacion.imagen %}" class="img-thumbnail" alt="Mon image" /></a>
                        </div>
                    </div>
                </div>
                {% ifequal forloop.counter|modulo:3 0 %}
            </div>
                {% endifequal %}

        {% endfor %}
        </div>
    </body>
</html>