{% load mainApp_extras %}
    {% include "header.html" %}
            <h1 class="jumbotron">Todas las localizaciones</h1>
        <div class="container mt-4 ">
            {% for localizacion in localizaciones %}
                            {% ifequal forloop.counter|modulo:3 1 %}
            <div class="row justify-content-center">
                {% endifequal %}
            <div class="col-4 card-deck text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4>{{ localizacion.mensaje }}</h4>
                    </div>
                    <div class="card-body">
                        <p>{{ localizacion.detalles }}</p>
                        <a href="{% url 'localizacion' localizacion.id %}">Consultar las estaciones</a>
                    </div>
                </div>
            </div>
                        {% ifequal forloop.counter|modulo:3 0 %}
            </div>
            {% endifequal %}
            {% endfor %}
        </div>
    </body>
</html>